
.DS_Store

iOSMp3Recorder.xcodeproj/project.xcworkspace/xcuserdata/uistrong.xcuserdatad/UserInterfaceState.xcuserstate

iOSMp3Recorder.xcodeproj/xcuserdata/uistrong.xcuserdatad/xcschemes/iOSMp3Recorder.xcscheme

iOSMp3Recorder.xcodeproj/xcuserdata/uistrong.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

iOSMp3Recorder.xcodeproj/xcuserdata/uistrong.xcuserdatad/xcschemes/xcschememanagement.plist
